@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5e147;
}

.box-outer {
  position: relative;
  width: 50%;
  min-width: 18rem;
  border: 2px solid #836a21;
  transition: all 0.3s ease-in-out;
}

.activityChoice {
  margin: 0.4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #836a21;
  background-color: rgba(0, 0, 0, 0.527);
}

.activityChoice::before,
.activityChoice::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #836a21;
  top: 7px;
}

.activityChoice::before {
  left: 7px;
}

.activityChoice::after {
  right: 6px;
}

.box-outer::before,
.box-outer::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #836a21;
  bottom: 6px;
}

.box-outer::before {
  left: 7px;
}

.box-outer::after {
  right: 6px;
}

.activity {
  width: clamp(12rem, 70%, 80%);
  background: linear-gradient(315deg, #2d2305 0%, #433500 74%);
  border: 2px solid #836a21;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  text-shadow: 4px 0px 3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media (max-height: 431px) {
  .box-outer {
    width: 80%;
    height: auto;
  }

  .activityChoice {
    flex-direction: row;
  }

  .activity {
    font-size: 1.2rem;
  }
}

.bubble {
  position: absolute;
  border: 0.5vmin solid #836a21;
  border-radius: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3vmin;
  background: #2d2305;
  box-shadow: 0 -0.25vmin, 0 0.125vmin;
}

.bubble::before {
  content: "";
  color: #836a21;
  position: absolute;
  width: 40%;
  height: 100%;
  bottom: -47%;
  border-radius: 50%;
  left: -15%;
  box-shadow: 0.5vmin 0, 2vmin -0.5vmin #2d2305, 2vmin -0.5vmin 0 0.5vmin;
  clip-path: polygon(0% 49%, 150% 48%, 150% 100%, 0% 100%);
}
